/***********INDEX HTML***********/
.showcase {
  position: relative;
  height: 100vh;
  flex-direction: column;
  padding: 0 20px;
  overflow: hidden;
}

.video_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
.video_container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.video_container:after {
  content: "";
}
/**tekst index**/
.grid_1_4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr;
}

.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.grid_1_2 {
  grid-column: 3;
  grid-row: 4;
}
.grid_1_4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid_1_5 {
  grid-row: 3;
  grid-column: 3;
}
.content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-top: 2%;
}
/**titel**/
.m1 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  max-height: 20%;
  letter-spacing: 1rem;
}

@media (min-width: 800px) {
  /**animationer**/
  @keyframes change {
    from {
      color: rgb(255, 255, 255);
    }
    to {
      color: rgb(0, 0, 0);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /**Gør at billeder/tekst kommer ind fra højre og venstre**/

  .from-left {
    transform: translateX(-50%);
  }

  .from-right {
    transform: translateX(50%);
  }

  /**Animationen, opacity, ease og tid**/
  .from-left,
  .from-right {
    transition: opacity 1s ease-in-out, transform 1.2s ease;
    opacity: 0;
  }

  .from-left.appear,
  .from-right.appear {
    transform: translateX(0);
    opacity: 1;
  }

  /***************PROJEKTER**************/

  .grid_p {
    display: grid;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .projekt_link {
    font-size: 1.2rem;
  }

  .grid_link1 {
    display: grid;
    margin-bottom: 70px;
  }
  .grid_ps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .grid_pss {
    text-align: center;
    animation: fadeIn 2s;
  }

  .grid_ps img {
    width: 70%;
    height: 50%;
  }

  /****Grund web****/

  .grid_2_2 {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    z-index: 10;
    align-items: baseline;
    margin-bottom: 40px;
    margin-top: 90px;
  }

  .grid_web2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .grid_web3 {
    display: grid;
    gap: 20px;
  }
  .grid_web img {
    width: 80%;
  }
  .grid_webtekst {
    display: grid;
    gap: 115px;
  }

  .grid_webbilleder2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 60px;
  }

  .grid_webbilleder2 img {
    width: 90%;
    margin-top: 100px;
    border: 5px solid #555;
  }

  /***Grund UX****/

  .grid_ux {
    display: grid;
  }

  .grid_usp {
    display: grid;
    text-align: center;
  }

  .grid_ux1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 130px;
  }
  .grid_ux2 {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 30px;
  }

  .grid_pil {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-top: 120px;
  }
  .grid_pil img {
    width: 50%;
  }

  .grid_pilbilleder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 60px;
  }

  .grid_pilbilleder img {
    border: 5px solid #555;
  }

  /****Animation****/

  .grid_animation {
    display: grid;
    gap: 40px;
    margin-bottom: 70px;
  }
  .grid_ani1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .grid_ani2 {
    display: grid;
    gap: 40px;
  }

  .grid_animation2 {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 40px;
    margin-bottom: 60px;
  }

  .grid_animation3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-top: 60px;
  }

  .grid_figur {
    display: grid;
  }

  /*******Indhold*******/

  .grid_video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 90px;
  }

  .grid_klip {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 90px;
  }

  .grid_git {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  /*********CV***********/
  .grid_cv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
  }
  .grid_cv img {
    border: 5px solid #555;
    text-align: center;
    width: 80%;
  }

  .grid_cv2 {
    display: grid;
    gap: 40px;
  }
  .text3 {
    font-size: 1rem;
  }

  .grid_komp {
    display: grid;
    gap: 9px;
  }
  /***kompetence timere**/
  .timer {
    width: 200px;
    height: 20px;
    border-radius: 3px;
    overflow: hidden;
    gap: 50px;
  }

  .mobileh1 {
    font-size: 7rem;
  }
  .timers {
    display: grid;
    gap: 40px;
  }

  .timer .progress {
    height: 100%;
    background: rgb(24, 51, 148);
    width: 0%;
    transition: width 0.3s; /* Animér fremdrift over 0.3 sekunder */
    animation: progress 4s linear; /* Animér fremdriftslinjen over 3 sekunder */
  }

  .timer .progress.complete {
    width: 100%; /* Fjerner animationen og transistionen, og sæt width til 100% */
  }
  /* Animationen for timer fremdriftslinjen */
  @keyframes progress {
    from {
      width: 0%;
    } /* Start med 0% fremdrift */
    to {
      width: 100%;
    } /* Slut med 100% fremdrift */
  }
}
/**********************MOBILE SITE******************************/

/*****INDEX HTML********/
@media (max-width: 799px) {
  body {
    overflow-x: hidden;
    margin-left: 20px;
    margin-right: 20px;
  }

  main {
    display: block;
    background-image: url(img/pro.png);
    overflow: hidden;
  }

  main section .grid_animation,
  main section .grid_animation2,
  main section .grid_animation3 {
    display: block;
  }

  #index {
    margin-left: 0;
    margin-right: 0;
  }

  .mobileh1 {
    font-size: 3rem;
    margin-bottom: 91px;
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  h4 {
    font-size: 2.5rem;
    text-align: center;
  }

  h6 {
    font-size: 3.2rem;
    text-align: center;
  }
  .grid_webbilleder img,
  .grid_webbilleder2 img,
  .grid_pilbilleder img,
  .grid_video img,
  .grid_klip img,
  .grid_git img {
    border: 5px solid #555;
  }
  .video_container video {
    top: 0;
    left: 0;
    width: 100%;
    height: 85vh;
    object-fit: cover;
    overflow: hidden;
  }

  .grid_1_2 {
    grid-column: 2;
    grid-row: 2;
  }

  .grid_1_3 {
    margin-bottom: 16px;
  }

  /***projekt**/
  .grid_p {
    text-align: center;
    margin: 30px;
  }
  .grid_ps {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 90px;
    text-align: center;
  }

  .grid_3_3 {
    display: grid;
    gap: 20px;
    margin-bottom: 40px;
  }
  .grid_web3 {
    display: grid;
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .grid_3_4 {
    display: grid;
    margin-bottom: 90px;
  }
  .grid_webtekst {
    display: grid;
    gap: 115px;
  }
  .grid_webbilleder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
  }

  .grid_webbilleder2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 90px;
  }

  /**ux**/
  .grid_ux {
    display: grid;
  }

  .grid_uxtext1 {
    display: grid;
    gap: 40px;
    margin-bottom: 40px;
  }

  .grid_pil {
    display: none;
  }
  .grid_pilbilleder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 90px;
  }

  /**animation**/
  .grid_burger {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_animation2 {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    gap: 40px;
    margin-bottom: 90px;
  }
  .grid_animation2t {
    margin-bottom: 40px;
  }

  /**indhold**/
  .grid_video {
    display: grid;
    gap: 20px;
  }

  .grid_git {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 40px;
  }

  .from-left {
    transform: translateX(-50%);
  }

  .from-right {
    transform: translateX(50%);
  }

  /**Animationen, opacity, ease og tid**/
  .from-left,
  .from-right {
    transition: opacity 1s ease-in-out, transform 1.2s ease;
    opacity: 0;
  }

  .from-left.appear,
  .from-right.appear {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 799px) {
  main {
    display: block;
  }
  main section .grid_animation,
  main section .grid_animation2,
  main section .grid_animation3 {
    display: block;
  }

  .head {
    display: block;
  }

  /* Menupunkter centreres */
  .head nav ul li {
    text-align: center;
  }

  .head nav ul li a {
    margin: 0;
  }
  .head nav ul {
    display: grid;
    padding: 0;
    text-align: right;
    gap: 14px;
  }

  ul#horizontal-list li {
    display: inline;
    font-family: "Literata", serif;
    font-size: 1rem;
    text-align: right;
  }
}
